.HabitCard__container {
  position: relative;
  background: salmon;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.HabitCard__calendar {
  height: 200px;
  min-width: 300px;
  width: 100%;
  background: pink;
}

.HabitCard__description {
  font-size: 20px;
}