.CommentCard {
  display: flex;
  min-height: 100px;
}

.CommentCard__avatar-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.CommentCard__content-container {
  background: rgba(128, 128, 128, 0.475);
  border-radius: 20px;
  display: flex;
  padding: 8px 15px;
  margin-top: 10px;
  align-items: center;
  /* width: max-content; */
}

.CommentCard__buttons-container {
}

.CommentCard__avatar {
  padding: 5px;
  border-radius: 50%;
  transform: scale(0.7);
  background: white;
}

.CommentCard__username {
  font-style: italic;
  position: absolute;
  top: 65px;
}

.CommentCard__content {
  margin: auto 0;
}

.CommentCard__full-name {
  font-weight: bold;
  margin-right: 15px;
}

.vertical-split {
  width: 100%;
}