.CalendarComponent {
  height: 200px;
  min-width: 300px;
  width: 100%;
  background: pink;
}

.CalendarComponent__selected {
  background: blue;
}

.CalendarComponent__today {
  background: green;
}