.CalendarComponent {
  position: relative;
  height: 200px;
  min-width: 300px;
  width: 100%;
  background: pink;
}

.CalendarComponent__selected {
  background: blue;
}

.CalendarComponent__today {
  background: red;
}

.CalendarComponent__today.CalendarComponent__selected {
  background: blue;
  box-shadow: inset 0 0 0 3px red;
  z-index: 3;
  border: none;
}

.CalendarComponent__spinner {
  position: absolute;
  background: grey;
  box-shadow: 0 0 3px 5px grey;
  right: 46%;
  top: 56%;
}

.unclickable {
  pointer-events: none;
}

abbr {
  pointer-events: none;
}