.UserCard__container {
  background: peachpuff;
  margin: 10px auto;
  padding: 10px;
  min-width: 450px;
  width: 450px;
  height: min-content;
  border-radius: 4px;
  box-shadow: 0 0 3px black;

  display: flex;
  position: relative;
}

.UserCard__left-container {
  position: relative;
  display: grid;
}

.UserCard__right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}

.UserCard__right-container > span {
  display: block;
}

.UserCard__full-name {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.UserCard__avatar {
  position: absolute;
  left: 0;
  background: white;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  width: 80px;
  height: 80px;
}

.UserCard__username {
  position: absolute;
  bottom: -107px;
  font-style: italic;
  font-weight: 550;
}

.UserCard__follow-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
