.Navbar__container {
  /* background: rgb(65,104,178); FB nav bar color */
  background: rgb(135, 117, 147);
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--navbar-height);

  display: flex;
  align-items: center;
}

.Navbar__li {
  font-weight: bold;
  color: rgb(255,255,255);
}